<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<style>
			.container {
				padding-top: 30px;
				padding-bottom: 30px;
			}
			#map {
				background: #CCC;
			}
			.fixed-bottom {
				position: fixed;
				left: 16px;
				bottom: 0;
				max-width: 320px;
			}
		</style>

		<script>
			var map;
			var marker;
			var markers = [];
			var taiwan = {lat: 23.5, lng: 121};
			function initMap() {
				map = new google.maps.Map(document.getElementById('map'), {
				zoom: 8,
				center: taiwan
				});

				map.addListener('click', function(event){
					addMarker(event.latLng);
				});
				addMarker(taiwan);
				marker.addListener('click', toggleBounce);

			}

			function toggleBounce() {
				if (marker.getAnimation() !== null) {
					marker.setAnimation(null);
				} else {
					marker.setAnimation(google.maps.Animation.BOUNCE);
				}
			}

			function addMarker(location) {
				marker = new google.maps.Marker({
				draggable: true,
				animation: google.maps.Animation.DROP,
				position: location,
				map: map
				});
				markers.push(marker);
			}

			function setMapOnAll(map){
				for (var i = 0; i< markers.length; i++) {
					markers[i].setMap(map);
				}
			}

			function clearMarkers(){
				setMapOnAll(null);
			}

			function showMarkers(){
				setMapOnAll(map);
			}

			function deleteMarkers() {
				setMapOnAll();
				markers = [];
			}

		</script>

	</head>
	<body>
		<div class="container">
			<div class="row">
					<div class="col-sm-3">
					</div>
					<div class="col-sm-9">
						<h3>irent 快速車輛查詢工具</h3>
					</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">
					<form action="/getHasCarStation">
						<div style="height: 50px;" class="row"></div>
						<div class="row">
							<div class="col-sm-3">
								<h4>取車時間</h4>
							</div>
							<div class="col-sm-3">
								<input type="date" id="startDate" name="startDate">
							</div>
							<div class="col-sm-1">
							</div>
							<div class="col-sm-3">
								<input type="time" id="startTime" name="startTime">
							</div>
						</div>
						<div style="height: 50px;" class="row"></div>
						<div class="row">
							<div class="col-sm-3">
								<h4>還車時間</h4>
							</div>
							<div class="col-sm-3">
								<input type="date" id="endDate" name="endDate">
							</div>
							<div class="col-sm-1">
							</div>
							<div class="col-sm-3">
								<input type="time" id="endTime" name="endTime">
							</div>
						</div>
						<div style="height: 50px;" class="row"></div>
						<div class="row">
							<div class="col-sm-3">
								<h4>車型</h4>
							</div>
							<div class="col-sm-3">
								<select id="carType" name="carType">
								　	<option value="002084">SIENTA5人</option>
								　	<option value="002087">SIENTA7人</option>
									<option value="002669">VIOS</option>
									<option value="001601">YARIS</option>
									<option value="yyyyyy">YARIS(舊款)</option>
									<option value="002659">PRIUSc</option>
								</select>
							</div>
						</div>
						<div style="height: 50px;" class="row"></div>
						<div class="row">
							<div class="col-sm-3">
								<h4>地區</h4>
							</div>
								<div class="col-sm-3">
									<select id="cityName" name="cityName">
									<option value="台北市">台北市</option>
									<option value="新北市">新北市</option>
									<option value="桃園市">桃園市</option>
									<option value="基隆市">基隆市</option>
									<option value="宜蘭縣">宜蘭縣</option>
									<option value="新竹市">新竹市</option>
									<option value="新竹縣">新竹縣</option>
									<option value="苗栗縣">苗栗縣</option>
									<option value="雲林縣">雲林縣</option>
									<option value="嘉義市">嘉義市</option>
									<option value="嘉義縣">嘉義縣</option>
									<option value="台南市">台南市</option>
									<option value="台中市">台中市</option>
									<option value="彰化縣">彰化縣</option>
									<option value="南投縣">南投縣</option>
									<option value="高雄市">高雄市</option>
									<option value="花蓮縣">花蓮縣</option>
									<option value="台東縣">台東縣</option>
									<option value="屏東縣">屏東縣</option>
									<option value="澎湖縣">澎湖縣</option>
								</select>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div style="height: 50px;" class="row"></div>
			<div class="row">
				<div class = "col-sm-5"></div>
				<div class = "col-sm">
					<button type="button" class="btn btn-primary"id="queryCar">Go</button>
					<h5 id="loading">載入中...</h5>
				</div>
			</div>
		</div>
		

		

		<div id="app" class="container">
			<div class="row">
				<div class="col">
					<div id="map" class="embed-responsive embed-responsive-16by9"></div>
				</div>
			</div>



		</div>
		<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCE2-xgIpJ3rSSLDd1O8GOgNNviTA9P1q4&callback=initMap">
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
		<script src="/static/main.js"></script>


	</body>
</html>